:root{
  --cols : 10;
  --cellSize : 5px;
}

#grid-container{
  border-collapse: collapse;
}

.grid-row{
  display: flex;
  flex-direction: row;
  width: calc(var(--cols)*var(--cellSize)) ;
}


.grid-cell{

  display: flex;
  flex-direction: column;
  width: var(--cellSize);
  height: var(--cellSize);
  background-color:rgb(54, 144, 16);
  border: 1px solid rgba(255, 255, 255, 0.082);
}


.apple{
  background-color: red;
}